.header-background{
    /* background-color: #fff; */
}

.header-menu > a{
    color: #1a1b1e !important;
}

.header-overlay .main-navigation > ul > li.menu-item-has-children > a:after {
     /* color: none !important; */
    color: rgba(0, 0, 0, 0.5) !important;
}
.header-overlay #site-logo img.logo-static{
    display: block;
}

.form-container{
    display: flex;
    justify-content: center;
}

.form-parent-div{
    background-color: white;
    color: black;
    max-width: 600px; 
    width: 50%;

}
.faq-form-parent-div{
    color: black;
    max-width: 600px; 
    width: 50%;

}

#form{
    width: 100%;
}

.contact-inputs{
    width: 100%;
    float: none;
}

.section-b420{
    padding: 0;
}

.segmentation-margin{
    margin: 0;
}

.margin-0{
    margin: 0;
}


@media only screen and (max-width: 768px) {

    .form-parent-div{
        width: 100%;
        padding: 0 1rem;
    }
    .faq-form-parent-div{
        width: 100%;
        padding: 0 1rem;
    }
    
}
@media only screen and (max-width: 991px) {
.faq-form-parent-div{
        width: 100%;
        padding: 0 1rem;
    }
    
}